backend:
  deployment:
    replicaCount: 2
    image:
      repository: us-central1-docker.pkg.dev/staging-55656/stage-images/backend
      tag: sha-f142b2af80be67e6e4d0c42a7d28b6c0d1ee26e5
      pullPolicy: IfNotPresent
    containerPort: 3000

    env:
      NODE_ENV: production
    resources:
      requests:
        cpu: '100m'
        memory: '128Mi'
      limits:
        cpu: '500m'
        memory: '512Mi'

  service:
    type: ClusterIP
    port: 80
    targetPort: 3000
