backend:
  deployment:
    replicaCount: 2
    image:
      repository: us-central1-docker.pkg.dev/project-621d5d68-15ca-433f-9a1/todobackend/api
      tag: v1
      pullPolicy: IfNotPresent
    containerPort: 3000
    env:
      NODE_ENV: prod
    resources:
      requests:
        cpu: '100m'
        memory: '128Mi'
      limits:
        cpu: '500m'
        memory: '512Mi'

  service:
    type: LoadBalancer
    port: 80
    targetPort: 3000

cluster:
  serviceAccountName: gke-node-image-and-secret-pull@project-621d5d68-15ca-433f-9a1.iam.gserviceaccount.com
