backend:
  deployment:
    replicaCount: 2
    image:
      # repository: us-central1-docker.pkg.dev/project-621d5d68-15ca-433f-9a1/todobackend/api
      repository: nginx
      # tag: v1
      tag: latest
      pullPolicy: IfNotPresent
    # containerPort: 3000
    containerPort: 80

    env:
      NODE_ENV: prod
    resources:
      requests:
        cpu: '100m'
        memory: '128Mi'
      limits:
        cpu: '500m'
        memory: '512Mi'

  service:
    type: ClusterIP
    port: 80
    # targetPort: 3000
    targetPort: 80
