apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: {{ .Values.backend.deployment.replicaCount }}
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.deployment.image.repository }}:{{ .Values.backend.deployment.image.tag }}"
          imagePullPolicy: {{ .Values.backend.deployment.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.backend.deployment.containerPort }}
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: DATABASE_URL
            
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
          
          volumeMounts:
            - name: db-certs
              mountPath: /etc/secrets
              readOnly: true
        
      volumes:
        - name: db-certs
          secret:
            secretName: app-secrets
            items:
              - key: ca.pem
                path: ca.pem