{{- if .Values.backend.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: backend-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend-deployment
  minReplicas: {{ .Values.backend.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.backend.autoscaling.maxReplicas }}
  metrics:
    {{- if .Values.backend.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.backend.autoscaling.targetCPUUtilizationPercentage }}
    {{- end }}
    {{- if .Values.backend.autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ .Values.backend.autoscaling.targetMemoryUtilizationPercentage }}
    {{- end }}
  behavior:
    scaleDown:
      stabilizationWindowSeconds: {{ .Values.backend.autoscaling.scaleDown.stabilizationWindowSeconds }}
      policies:
        - type: Percent
          value: {{ .Values.backend.autoscaling.scaleDown.percentValue }}
          periodSeconds: {{ .Values.backend.autoscaling.scaleDown.periodSeconds }}
        - type: Pods
          value: {{ .Values.backend.autoscaling.scaleDown.podsValue }}
          periodSeconds: {{ .Values.backend.autoscaling.scaleDown.periodSeconds }}
      selectPolicy: Min
    scaleUp:
      stabilizationWindowSeconds: {{ .Values.backend.autoscaling.scaleUp.stabilizationWindowSeconds }}
      policies:
        - type: Percent
          value: {{ .Values.backend.autoscaling.scaleUp.percentValue }}
          periodSeconds: {{ .Values.backend.autoscaling.scaleUp.periodSeconds }}
        - type: Pods
          value: {{ .Values.backend.autoscaling.scaleUp.podsValue }}
          periodSeconds: {{ .Values.backend.autoscaling.scaleUp.periodSeconds }}
      selectPolicy: Max
{{- end }}