apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: gcp-secret-store
spec:
  provider:
    gcpsm:
      projectID: staging-24813
      auth:
        workloadIdentity:
          serviceAccountRef:
            name: external-secrets-operator-sa
            namespace: external-secrets-system
