name: Continuos Integration

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      - "kubernetes/**"
      - "terraform-aws-old/**"
      - "terraform-gcp/**"
      - "*.md"

permissions:
  contents: read
  id-token: write

jobs:
  build-verify:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/

  docker:
    name: Docker build and push
    runs-on: ubuntu-latest
    env:
      WORKLOAD_IDENTITY_PROVIDER: "projects/546165975872/locations/global/workloadIdentityPools/github-action-pool/providers/github-actions-oidc-provider"
      SERVICE_ACCOUNT: "terraform-github-actions@project-621d5d68-15ca-433f-9a1.iam.gserviceaccount.com"
      PROJECT_ID: "staging-60514"
      AR_LOCATION: "us-central1"
      AR_URL: "us-central1-docker.pkg.dev/staging-60514/stage-images"
      IMAGE_NAME: "backend"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          token_format: "access_token"
          project_id: ${{ env.PROJECT_ID }}
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICE_ACCOUNT }}

      - name: Docker Auth
        uses: docker/login-action@v3
        with:
          username: "oauth2accesstoken"
          password: ${{ steps.auth.outputs.access_token }}
          registry: "${{ env.AR_LOCATION }}-docker.pkg.dev"

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.AR_URL }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=ref,event=branch
            latest

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.prod
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          load: true

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.AR_URL }}/${{ env.IMAGE_NAME }}:sha-${{ github.sha }}
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL"

      - name: Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.prod
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
