name: Terraform

on:
    workflow_dispatch:
    # push:
    #     branches:
    #         - main
    #     paths:
    #         - "terraform-gcp/**"

permissions:
    contents: read # Access to your repository code
    id-token: write # Ability to request OIDC tokens- Required for WIF!

env:
    GCP_REGION: us-central1
    TF_VERSION: 1.7.0
    GCP_PROJECT_NUMBER: "546165975872"
    GCP_IDENTiTY_POOL: "github-action-pool"
    GCP_IDENTITY_POOL_PROVIDER: "github-actions-oidc-provider"

jobs:
    terraform:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - id: auth
              uses: google-github-actions/auth@v2
              with:
                  workload_identity_provider: "projects/${{ env.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/${{ env.GCP_IDENTiTY_POOL }}/providers/${{ env.GCP_IDENTITY_POOL_PROVIDER }}"
                  service_account: "terraform-github-actions@project-621d5d68-15ca-433f-9a1.iam.gserviceaccount.com"
